<html>
<head>
	<title>LOGIN</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body>

	<!--HEADER-->
	
	<div class="header">
		<div class="headblock"></div>
		<div class="user pull-right">
			<ul>
				<li><a href="login.html">Login</a></li>
				<li>|</li>
				<li><a href="register.html">Register</a></li>
			</ul>
		</div>
		<div class="nav headroom">
			<div class="container">
				<div class="nav-collapse">
					<div class="logo navbar-nav pull-left">City Birds Logo</div>
					<ul class="navbar-nav pull-right">
						<li><a href="index.html">Home</a></li>
						<li><a href="trending.html">Trending</a></li>
						<li><a href="#New">What's New</a></li>
						<li><a href="#Discover">Discover</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--HEADER END-->

	<div>
		<a name="Home"></a>
		<div class="container">
			<div class="content">
				<div class="inner-content">
					<div class="headroom"></div>
					<div class="align-content">
						<h1>Log-in</h1>
						<p style="font-size:14px;">Don't have an account?<a href="register.html" style="color:blue;"> <strong>Register</strong> </a> now! Don't miss anymore updates from the latest trending City Birds in your area today!</p>
					</div><hr><br>

					<div class="align-content">
						<%= form_tag('/login', method: :post) do %>
 						<label>Username:</label>
						<input class="login" type="text" name ='username'><span>*</span>
						<label style="margin-left:68px;">Password: </label>
						<input class="login" type="password" name='password'><span>*</span>
						<br><br>
						<span class="pull-right" style="margin-right:20%;">*Required</span>
						<br>
						<input type='submit' value='Log In' class="pull-right" style="margin-right:20%; padding:1px;">
						<% end %>
						<br><br><br><br><br><br><br>	
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>