ul,li{
	padding: 0px;
	margin: 0px;

}
body{
	margin: 0px;
	font-size: 18px;
	padding: 0px;	
	background: url(images/bg.jpg);
	background-size: repeat;
}

.pull-right{
	float: right;
}
.pull-left{
	float: left;
}
a{
	color: inherit;
	text-decoration: none;
	font-family: 'Roboto';
}

li a:hover, a:hover{
	text-decoration: underline;
	color: white;
}

.user{
	background-color: blue;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	height: 25px;
	width: 140px;
	margin-right: 100px;
}
.user ul{
	margin: 0px;
	margin-left: 10px;
	padding: 3px;

}
.user li{
	list-style: none;
	font-size: 11px;
	color: white;
	position: relative;
	display: block;
	text-align: -webkit-match-parent;
	padding: 5px;
	float: left;
	font-family: 'Roboto';
}

.user p{
	font-size: 10px;
	color: white;
	padding: 0;
}
.logo{
	color: white;
	font-family: 'Roboto';
}

.logo a:hover{
	text-decoration: none;
}

.img-home{
	margin-left: 50px;
}

.banner {
	margin-top: 10px;
	margin-bottom: 0px;
	margin-right: 0px;
	height: 250px;
	width: 100%;

}

.user-badge{
	width: 200px;
	height: 200px;
	border-radius: 100px;
}

.user-small{
	width: 40px;
	height: 40px;
	border-radius: 100px;
	margin-left: 20px;
	margin-top: 5px;
}

.user-badge .name{
	width: 200px;
	height: 90px;
	top: 75px;
	background: #FFFFCC;
	opacity: 0;
}

.user-badge:hover .name{
	opacity: 0.9;
}

.banner-text{
	display: block;
	font-family: 'Roboto';
	font-size: 80px;
	color: white;
	margin-top: 60px;
	margin-left: 900px;
	z-index: 8;
}

.img-home img{
	margin-top: 110px;
	border-radius: 600px;
 	display: block;
 	height: 300px;
 	width: 400px;
 	z-index: 8;
 	box-shadow: 10px 10px 10px #888888;
}

.banner,.banner-text, .img-home{
	position: absolute;
	top: 0;
	left: 0;
}
.header{
	position: fixed;
	width: 100%;
	z-index: 10;
}

.headroom{
	padding-top: 35px;
}

.headblock{
	width: 100%;
	height: 3px;
	background-color: blue;
}

.nav{
	width: 100%;
	height: 70px;
	background-color: black;
}

.navbar-nav{
	margin: 5px;
	padding: 5px;
	height: 30px;
	width: auto;
}

.navbar-nav li{
	float: left;
	position: relative;
	display: block;
	text-align: -webkit-match-parent;
	padding: 5px;
	color: gray;
	margin-left: 30px;
}

.navbar-nav li a:hover{
	text-decoration: none;
	color: white;
}

.nav-collapse{
	height: 50px;
}

.container{
	width: 1170px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;

}

.content{
	background-color: rgba(192,192,192,0.3);
	width: 100%;
	height: 550px;
	padding-top: 90px;

}

.inner-content{
	background-color: rgba(212,212,212,0.3);
	width: 100%;
	height: 110%;
	margin: 0 auto;
	border-radius: 10px;
	position: relative;
}

.center-align{
	text-align: center;
}
.search{
	width: 60%;
	height: 40px;
	border-radius: 10px;
	margin-top: 100px;
	font-size: 18px;
	color: rgba(111,212,212,10);
}

.register-input{
	width:620px;
	margin-left: 380px;
}

.vertical-border{
	border-left: thick solid blue;
}
.login-input{
	padding-top: 150px;
	padding-left: 57px;

}

.login-input input[type="text"], input[type="password"]{

	width: 200px;
	height: 30px;
	color: black;
	background-color: rgba(192,192,192,0.3);
	box-shadow: 10px 10px 5px #888888;
	z-index: 20;
	border-style: none;
	border-radius: 10px;
	margin-left: 50px;
	margin-top: 10px;
}

input[name="submit"]{
	background-color: transparent;
	border-style: none;
	width: 100px;
	height: 30px;
	margin-left: 200px;
	border: 1px solid black;
	font-family: 'Roboto'

}

input[name="submit"]:hover, 
.ghost-button:active{
	background-color: #fff;
	color: #000;
	border: 2px solid black;
}

input:focus{
	outline: 0;
}

#rpassword, #lpassword, #conpass{
	display: inline-block;
}
.align-content{
	margin-top: 30px;
	margin-left: 50px;
}

h1, input, label,p{
	padding-left: 50px;
	font-family: 'Roboto';
}

hr{
	width: 90%;
}

span{
	color: red;
	padding-bottom: 10px;
	font-size: 12px;
	font-family: 'Roboto';
}

.block {
    position: absolute;
    background: #eee;
    width: 250px;
    height: 250px;
    margin-left: 30px;
    border: 1px solid #ddd;
}

.active a{
	color: white;
	text-decoration: underline;
}

.block img{
	margin: auto;
	width: 200px;
	height: 200px;
}

.controls{
	margin-top: 15px;
	margin-left: 30px;
}
.wrap{
  position: relative;
  margin: 0 auto;
  width:100%;
}
.sticky-controls{
	  background-color: transparent;
	  text-align: center;
	  position: fixed;
	  bottom:0;
	  width: 10%;
	  height: 70px;
	  margin-bottom: 10px;
}
.controls li{
	list-style: none;
	display: inline;
	margin-left: 1	0px;
	cursor: pointer;
}

.userdiv {
	width: 100%;
	height: 600px;
	padding-top: 150px;
    text-align: center;
    display: inline-block;
}

.columndiv {
    margin: 10px;
    display: inline-block;
    color: white;
}

.square{
    position: relative;
    background: #eee;
    padding: 20px;
    width: 200px;
    height:200px;
    margin-left: 30px;
    border: 1px solid #ddd;
    color: black;
    font-family: 'Roboto';
}

.circle{
	border-radius: 50%;
	margin-bottom: 10px;
}


.badge{
	display: inline-block;
	min-width: 8px;
	padding: 4px;
	font-size: 8px;
	font-weight: bold;
	line-height: 1;
	color: white;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: red;
	border-radius: 10px;

}

.menu,
.menu ul,
.menu li,
.menu a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
 
.menu {
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
}

.menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 19px;
    margin-bottom: 10px;
 
}

.menu li a {
    display: block;
    padding: 5px;
    margin: 6px 0;
    line-height: 5px;
    text-decoration: none;
 
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;
 
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
 
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
 
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
 
.menu li:first-child a { border-left: none; }
.menu li:last-child a{ border-right: none; }
 
.menu li:hover > a { color: #8fde62;  }

.menu ul {
    position: absolute;
    top: 40px;
    left: 0;
 
    opacity: 0;
    background: #1f2024;
 
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
 
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}
 
.menu li:hover > ul { opacity: 1;   z-index: 10;}
 
.menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
 
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}
 
.menu li:hover > ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
    width: 200px;
}


#flag {
  width: 110px;
  height: 160px;
  padding-top: 15px;
  position: relative;
  background: blue;
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  float: right;
}
#flag:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 13px solid #eee;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
}


.tv {
  position: relative;
  width: 200px;
  height: 150px;
  margin: 20px 0;
  background: red;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
}
.tv:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}

.mainDIV{
	margin-top: 200px;
    position:relative;
    width:100%;
    min-width:315px;
}
.leftDIV{
    position:absolute;
    top:50px;
    right: 30px;
    left:30px;
    height:200px;
    width:340px;
    background:#66FF99;
    border-radius: 30px;
}
.middleDIV{
    height:200px;
    width:340px;
    background:#66FF99;
 	border-radius: 30px;
    margin:0px auto;
}
.rightDIV{
    position:absolute;
    top:50px;
    right:30px;
    height:200px;
    width:340px;
    background:#66FF99;
    border-radius: 30px;
}

#triangle-down {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 30px solid blue;
	margin-left: 550px;
	margin-top: 50px;

}

#triangle-down:hover{
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 30px solid red;
	margin-left: 550px;
	margin-top: 50px;
}

.viewDialog > div {
	width: 700px;
	height: 400px;
	position: relative;
	margin: 15% auto;
	padding: 5px 20px 30px 20px;
	border-radius: 10px;
	background: #f7f7f7;
}

.modalDialog, .viewDialog {
  position: fixed;
  font-family: 'Roboto';
  top: -60px;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target, .viewDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 500px;
	position: relative;
	margin: 15% auto;
	padding: 5px 20px 30px 20px;
	border-radius: 10px;
	background: #f7f7f7;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: blue; }

.title{
	font-size: 12px;
}


.post{
    position: relative;
    background: #eee;
    padding: 20px;
    width: 200px;
    height:210px;
    margin-left: 30px;
    border: 1px solid #ddd;
    color: black;
    font-family: 'Roboto';
    cursor: hand;
}

.post-types{
	margin-left: auto;
	height: 150px;
	margin-right: auto;
}
.post-types label{
	padding-left: 5px;
}
.post-types img{
	width:100px;
	height:100px;
	margin-top: 10px;
}

.post-types img:hover{
	width: 110px;
	height: 110px;
}

.post-types li{
	list-style: none;
	display: inline-block;
}


.hidden-input{
	text-align: left;
}

.hidden-input input[type="submit"]{
	margin-left: 200px;
	margin-top: 30px;
	width: 100px;
	height: 30px;
	border-radius: 10px;
	font-family: 'Roboto'
}

.hidden-input input[type="text"]{
	width: 250px;
	height: 30px;
	color: black;
	background-color: rgba(192,192,192,0.3);
	box-shadow: 10px 10px 5px #888888;
	z-index: 20;
	border-style: none;
	border-radius: 10px;
	margin-left: 30px;
	margin-top: 20px;
	font-family: 'Roboto';
	font-size: 18px;
	padding-left: 20px;
}

.hidden-input label{
	margin: auto;
	padding: 0px;
	margin-left: 30px;
}

.submit img, .submit li{
	margin-top: 8px;
	width: 20px;
	height: 20px;
	list-style: none;
	display: inline-block;
}

.submit label{
	text-align: center;
	font-size: 10px;
	padding-left: 0px;
	margin-bottom: 10px;
}

.submit img:hover{ width: 20px; height: 20px;}
}

label.filebutton {
    width:120px;
    height:40px;
    overflow:hidden;
    position:relative;
    background-color:#ccc;
}

label span input {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: -700px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
}

.media-box{
	background-color: transparent;
	width: 340px;
	height: 340px;
	position: absolute;
	margin-top: 60px;
}

.user-info-box{
	width: 350px;
	height: 50px;
	background-color: transparent;
	float: right;
	margin-top: 15px;
	margin-left: 390px;
}

.user-info-box label{
	padding-left: 0px;

}
.comment-box{
	width: 350px;
	height: 250px;
	background-color: transparent;
	float: right;
	margin-left: 300px;
	overflow-y: scroll;
}

.add-comment{
	width: 350px;
	height:40px;
	background-color: transparent;
	float: right;
	margin-left: 300px;
}

.add-comment input{
	width:270px;
	height: 34px;
	font-size: 14px;
	padding-left: 20px;
}

.like{
	margin: 0px;
	width: 40px;
	height: 40px;
}

.like:hover{
	cursor: pointer;
}

.user-comments{
	width:330px;
	height: 50px;
	background-color: transparent;
}
.comment{
	font-size: 12px;
	float: right;
	width: 250px;
	margin-top: 10px;
	margin-right:6px;
}

::-webkit-scrollbar {
      width: 15px;
}

::-webkit-scrollbar-track {
      background-color: #bdb6b6;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: white;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps