<html>
<head>
	<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body>

	<!--HEADER-->
	
	<div class="header">
		<div class="headblock"></div>
		<div class="user pull-right">
			<% if session[:user_id] %>
				<ul>
					<li>Hello <%= @curr_user.fname %>!</li>
					<li style="padding: 5px 2px;">|</li>
					<li><%= link_to "Log Out", logout_path %></li>
				</ul>
			<% else %>
				<ul>
					<li><%= link_to "Log In | Register", login_path %></li>
					<!--<li style="padding: 5px 2px;">|</li>
					<li><%= link_to "Register", register_path %></li>-->
				</ul>
			<% end %>
		</div>
		<div class="nav headroom">
			<div class="container">
				<div class="nav-collapse">
					<div class="logo navbar-nav pull-left">City Birds Logo</div>
					<ul class="navbar-nav pull-right">
						<li class="active"><a href="index.html">Home</a></li>
						<li><a href="#Trending">Trending</a></li>
						<li><a href="#New">What's New</a></li>
						<li><a href="#Discover">Discover</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--HEADER END-->

	<div>
		<div class="container">
			<a name="Home"></a>
			<div class="content">
				<div class="inner-content center-align">
					<p>LOGO OR TEASER WHATEVER YOU LIKE HERE.</p>
					<input class="search" type="text" value="Search Anything You Like!">
				</div>
			</div>
			<a name="Trending"></a>
			<div class="content">
				<div class="inner-content center-align">
					<div class="headroom"></div>
					<a href="trending.html"> See All Trending ></a>
				</div>
			</div>
			<a name="New"></a>
			<div class="content">
				<div class="inner-content center-align">
					<div class="headroom"></div>
					<a href="new.html"> See All Newest Posts ></a>
				</div>
			</div>
			<a name="Discover"></a>
			<div class="content">
				<div class="inner-content center-align">
					<div class="headroom"></div>
					<a href="discover.html"> See Who's On City Birds ></a>
				</div>
			</div>
		</div>
	</div>

	<!--FOOTER-->
	<div class="sticky-controls">
			<div class="wrap">
				<div class="controls pull-left">
					<li><img src="images/addition6.png"></li>
				</div>
			</div>
		</div>
	<!--end footer-->
</body>
</html>